<div id="about" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-11 wow fadeInLeft" data-wow-delay="0.9s">
        <h2>ABOUT ME</h2>
        <h4>WEB DEVELOPER</h4>
        <p>
          Experienced web developer with a demonstrated history of working with
          computer software industry. Skilled in creating web applications,
          building APIs for mobile applications, and Backend development.
        </p>
        <p>
          Experienced in working with technologies Laravel, Core PHP, HTML, CSS,
          JavaScript, ReactJS, jQuery and MySQL.
        </p>
      </div>
      <div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
        <span class="text-top">PHP & Laravel</span>
        <div class="progress">
          <div
            class="progress-bar progress-bar-danger"
            role="progressbar"
            aria-valuenow="60"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 85%"
          >
          </div>
        </div>
        <span>Javascript</span>
        <div class="progress">
          <div
            class="progress-bar progress-bar-danger"
            role="progressbar"
            aria-valuenow="80"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 75%"
          >
          </div>
        </div>
        <span>Vue JS</span>
        <div class="progress">
          <div
            class="progress-bar progress-bar-danger"
            role="progressbar"
            aria-valuenow="60"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 60%"
          >
          </div>
        </div>
        <span>React JS</span>
        <div class="progress">
          <div
            class="progress-bar progress-bar-danger"
            role="progressbar"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 50%"
          >
          </div>
        </div>
        <span>HTLM5 &AMP; CSS3</span>
        <div class="progress">
          <div
            class="progress-bar progress-bar-danger"
            role="progressbar"
            aria-valuenow="60"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 70%"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
