<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Keyur Solanki - Portfolio</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="templatemo" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/x-icon" href="/ks.png">

   <!-- animate -->
   <link rel="stylesheet" href="/styles/animate.min.css" />
   <!-- bootstrap -->
   <link rel="stylesheet" href="/styles/bootstrap.min.css" />
   <!-- font-awesome -->
   <link rel="stylesheet" href="/styles/font-awesome.min.css" />
   <!-- google font -->
   <link
	 href="http://fonts.googleapis.com/css?family=Raleway:400,300,700,800"
	 rel="stylesheet"
	 type="text/css"
   />
   <!-- fullpage -->
   <link rel="stylesheet" href="/styles/jquery.fullPage.css" />
   <!-- custom -->
   <link rel="stylesheet" href="/styles/templatemo-style.css" />
   <link
	 rel="stylesheet"
	 href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
   />
  </head>
  <body>
    <div id="fullpage">
      <slot></slot>
    </div>
    <!-- jQuery -->
    <script is:inline src="/js/jquery.js"></script>
    <!-- bootstrap -->
    <script is:inline src="/js/bootstrap.min.js"></script>
    <!-- fullpage -->
    <script is:inline src="/js/jquery.fullPage.js"></script>
    <!-- smoothScroll -->
    <script is:inline src="/js/smoothscroll.js"></script>
    <!-- wow -->
    <script is:inline src="/js/wow.min.js"></script>
    <!-- text rotater -->
    <script is:inline src="/js/jquery.simple-text-rotator.js"></script>
    <!-- custom -->
    <script is:inline src="/js/custom.js"></script>
  </body>
</html>
